@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.co9m/css2?family=Roboto+Slab:wght@500;600&family=Roboto:wght@100;300;400;500;700&display=swap");
@media screen and (min-width: 375px) and (max-width: 860px) {
  body {
    margin-top: -22px;
    margin-left: 1px;
  }
  .img-reason {
    display: none;
  }
  .title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 26px;
    line-height: 26, 36px;
    width: 450px;
  }
  article > p:first-child {
    margin-top: 21px;
    padding-bottom: 9px;
  }
  article > p:nth-child(2) {
    margin-top: 2px;
  }
  .main-title {
    width: 240px;
    height: 43, 34px;
    padding-left: 35px;
  }
  .wrapper {
    width: 374px;
    height: 777px;
    border: 1px solid black;
    padding-top: 56px;
  }
  .pic {
    display: block;
    height: 159px;
    width: 166px;
    margin-bottom: 0px;
    /* padding: 338px  277.71px 101.1px; */
    margin-left: 101.1px;
    margin-right: 103.45px;
  }
  img.pic {
    margin-top: 12px;
    margin-bottom: -22px;
    src: "Group 91.png";
  }
  article.first-p {
    margin-top: 0px;
    margin-left: 34px;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 0px;
    width: 311px;
    height: 219px;
    font-weight: 600;
    line-height: 1.5;
  }

  .first-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    margin-top: 69.71px;
    margin-bottom: 1.8px;
  }
  .second-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    margin-top: 69.71px;
    margin-right: 70px;
    width: 100px;
    margin-bottom: 1.8px;
  }
  .third-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    width: 80px;
    margin-top: 12.71px;
    margin-bottom: 1.8px;
  }
  .first-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 3.83px;
  }
  .second-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2.83px;
  }
  .third-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 3.83px;
    width: 10px;
  }
  .first-reason {
    margin-left: 35px;
    width: 86px;
  }
  .second-reason {
    margin-left: 30px;
    width: 86px;
  }
  .third-reason {
    width: 186px;
    margin-left: 35px;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 861px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    margin-top: 91px;
  }

  .title {
    display: inline-block;
    margin-top: 91px;
    /* margin-right: 951px; */
    margin-left: 124px;
    width: 211.4px;
    height: 53.86px;
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    font-family: Roboto Slab;
  }

  .title {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }
  /* .main-title {
    width: 211px;
    height: 53, 34px;
    margin-left: 76px;
  } */
  .wrapper {
    width: 834px;
    height: 633px;
    border: 1px solid black;
  }

  img.pic {
    display: block;
    margin-left: 551.45px;
    height: 204.86px;
    width: 207.44px;
    margin-top: -215px;
    margin-bottom: 0px;

    /* margin-top: -590px; */
  }
  img {
    src: "Group 9.png";
  }

  article.first-p {
    margin-top: 0px;
    margin-left: 34px;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 0px;
    width: 311px;
    height: 219px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  article.first-p > p:nth-child(1) {
    padding-bottom: 10px;
    margin-left: 35px;
    font-size: 14px;
    width: 363px;
  }
  article.first-p > p:nth-child(2) {
    margin-top: 11px;
    padding-bottom: 10px;
    margin-left: 35px;
    font-size: 14px;
    width: 379px;
  }

  .first-reason :first-child {
    font-family: Roboto;
    font-weight: 800;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 11px;
    width: 86px;
  }
  .second-reason :first-child {
    font-family: Roboto;
    font-weight: 800;
    font-size: 15px;
    margin-top: 69px;
    margin-left: 37px;
    width: 86px;
  }
  .third-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 57px;
    width: 86px;
  }

  .first-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 14px;
    width: 86.88px;
    height: 22.59px;
  }
  .second-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 39px;
    width: 86px;
  }
  .third-reason :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    width: 10px;
    margin-left: 57px;
  }
  .first-reason {
    margin-left: 35px;
    width: 86px;
    margin-bottom: 60px;
  }
  .second-reason {
    margin-left: 30px;
    width: 86px;
  }
  .third-reason {
    width: 186px;
    margin-left: 35px;
  }
  footer {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .img-reason {
    display: none;
  }
  .first-reason {
    margin-left: 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  * {
    margin-top: 0px;
    margin-left: 0px;
  }

  .title {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
    width: 365px;
    height: 93px;
    margin-top: 34px;
    margin-left: 86px;
  }
  .main-title {
    width: 240px;
    height: 43, 34px;
    padding-left: 35px;
  }
  .wrapper {
    width: 1440px;
    height: 1046px;
    border: 1px solid black;
    padding-top: 56px;
  }
  .pic {
    display: block;
    height: 349px;
    width: 371px;
    margin-top: -193px;
    /* padding: 338px  277.71px 101.1px; */
    margin-left: 949px;
    margin-right: 103.45px;
    margin-bottom: 100px;
  }
  img.pic {
    /* margin-bottom: -21px; */
    src: "Group 91.png";
  }
  article.first-p {
    margin-top: 0px;
    margin-left: 34px;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 0px;
    width: 311px;
    height: 219px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  article.first-p > p:nth-child(1) {
    padding-bottom: 10px;
    margin-left: 88px;
    padding-top: 10px;
    font-size: 24px;
    width: 671px;
    margin-top: -30px;
    line-height: 36px;
    padding-bottom: 16px;
  }
  article.first-p > p:nth-child(2) {
    margin-top: 5px;
    padding-bottom: 10px;
    margin-left: 83px;
    font-size: 24px;
    width: 671px;
    line-height: 36px;
  }
  .img-reason > img {
    width: 232px;
    height: 203px;
    margin-left: 125px;
  }

  .first-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    margin-top: 64px;
    margin-bottom: 1.8px;
    width: 150px;
    height: 39px;
    margin-left: 94px;
  }
  .second-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    margin-top: 65px;
    margin-right: 70px;
    width: 150px;
    height: 39px;
    margin-bottom: 1.8px;
    margin-left: 225px;
  }
  .third-reason :first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    width: 150px;
    height: 39px;
    margin-bottom: 1.8px;
    margin-left: 345px;
    margin-top: 65px;
  }
  .first-reason :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0.83px;
    height: 39px;
    width: 150px;
    margin-left: 97px;
  }
  .second-reason :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0.83px;
    height: 39px;
    width: 150px;
    margin-left: 224px;
  }
  .third-reason :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0.83px;
    height: 39px;
    width: 150px;
    margin-left: 348px;
  }
  .first-reason {
    margin-left: 35px;
    width: 86px;
  }
  .second-reason {
    margin-left: 30px;
    width: 86px;
  }
  .third-reason {
    width: 186px;
    margin-left: 35px;
  }
  footer {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}
